@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');

@font-face {
    font-family:uzer_custom_font;
    src:url("../font/font_bold.TTF");
}


html,

body {
	background: #ffffff;
	font: 16px/31px "raleway-heavy", serif;
	font-weight: normal;
	color: white;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	color: white;
	font-style: normal;
	margin: 18px 0 15px;
}

hr {
	border: solid #ffffff;
	border-width: 1px 0 0;
	clear: both;
	margin: 23px 0 12px;
	height: 0;
}

hr {
	border: solid #ffffff;
	border-width: 4px 0 0;
	width: 100px;
	margin: 11px 0 30px;
	height: 0;
	clear: both;
	text-align: left;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.section-head h1 {
	font: 11px/30px font-family: 'PT Sans', sans-serif;;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:21px ; 
	color: #ffffff;
	margin-bottom: 30px;
	margin-top: 18px;
}

.section-head:hover h1 + hr {
	border-color: #04b1e6;
	width: 120px;
	text-align: left;
}

header {
	height: 66px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 600;
	background: black;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
	
}

.nav_logo {
    float: left;
    font-size: 28px;
    font-family:uzer_custom_font;
    color: white;
}

.nav_else {
	font-size: 14px;
	color: #04b1e6;
}

#nav-wrap {
	font: 13px 'PT Sans', sans-serif;;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	float: left;  
}

ul#nav li {
	position: relative;
	list-style: none;
	display: inline-block;
	height: 55px;    
}

ul#nav li a {

	display: block;
	padding: 14px 20px;
	line-height: 25px;
	text-decoration: none;
	text-align: left;
	position: relative;
}

ul#nav li a:hover {
	color: #FFFFFF;
}

@media only screen and (max-width:768px) {
	#nav-wrap {
		z-index: 700;
		display: block;
		width: 100%;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.section {
    
    background-color: #111417;
}

#home {
	background: url(../images/background.png) no-repeat center;
	min-height: 630px;
    width: 100%;
    margin-top: 67px;
	position: relative;
	border-bottom: 1px solid #15191d;
    font-family:'Raleway', sans-serif;
}

#home #content{
    font: 25px/54px 'Raleway', sans-serif;
    position: absolute;
    margin-left: 150px;
    margin-top: 200px;
    width: 50%; 
    float:left
}

#home #more {
	position: absolute;
    left: 0%;
	bottom: -77px;
	top: px;
}

#home #more a {
	font: 12px/54px 'Raleway', sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	display: block;
	height: 54px;
	width: 200px;
	border-radius: 3px;
	background: #04b1e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	color: #ffffff;
}

#home #more a:hover {
	background: white;
	color: #000000;
}

#Features {
	background: #111417;
	padding-top: 120px;
	padding-bottom: 120px;
	border-bottom: 1px solid #15191d;
}

#Features h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #04b1e6;
	text-transform: none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
}

#Pricing {
	background: #111417;
	padding-top: 120px;
	padding-bottom: 120px;
	border-bottom: 1px solid #15191d;
}

#Pricing h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #04b1e6;
	text-transform: none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
}

#Team {
	background: #111417;
	padding-top: 120px;
	padding-bottom: 120px;
	border-bottom: 1px solid #15191d;
}

#Team h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #04b1e6;
	text-transform: none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
}

#team-wrap .member-pic {
	position: relative;
	line-height: 1;
	overflow: hidden;
	background: #ffffff;
}

#team-wrap .mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 125, 214, 0.33);
	filter: alpha(opacity=0);
	opacity: 0;
	zoom: 1;
}

#team-wrap .member:hover .mask {
	filter: alpha(opacity=100);
	opacity: 1;
	zoom: 1;
}

@media only screen and (max-width:600px) {
	#team-wrap .member-pic {
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 30px;
		position: relative;
		top: 6px;
	}

	#team-wrap .member-pic .mask {
		display: none;
	}

	#team-wrap .member-name + p {
		clear: both;
		margin-top: 32px;
	}

	#team-wrap .member p {
		font-size: 16px;
		line-height: 30px;
	}

}

#cool_image {
	background: #0F1215 url(../images/personsmartphone.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 700px;
	width: 100%;
	text-align: left;
	position: relative;
	border-bottom: 0px solid #0F1215;
}

#cool_image h2 {
	font: 30px/36px "raleway-heavy", sans-serif;
	color: #000000;
	text-transform:none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
	position:relative;top:50px;
}

body {
	margin: 0;
}

img {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
}
 
.row {
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.column,
.columns,
.bgrid {
	position: relative;
	min-height: 0px;
	float: left;
}

.column,
.columns {
	padding: 0 30px;
}


.bgrid-fourth .bgrid {
	width: 25%;
}

.bgrid-half .bgrid {
	width: 50%;
}

.bgrid {
	padding: 0;
}

.structurize{
	padding-left:0;
	margin-left:-5px;
	list-style:none;
}

.structurize li {
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
	color:white;
}
	
#footer_look {
	background: #0F1215;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 30px;
	width: 100%;
	text-align: center;
	position: relative;
	border-bottom: 0px solid #0F1215;
}

#footer_look h2 {
	font: 15px/20px "raleway-heavy", sans-serif;
	color: #ffffff;
	text-transform:none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
	position:relative;top:50px;
}
