@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=PT+Sans|Raleway');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: right;
    font-family: 'PT Sans', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: dimgrey;
}


.nav_logo {
    float: left;
    font-family:uzer_custom_font;
}
   

#home-page {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

home_logo {
     display: block;

}

@font-face {
    font-family:uzer_custom_font;
    src:url("font/font.TTF");
}

h1 {
    margin-top: 3em;
    text-align: center;
    color: white;
    font-family:'Raleway', sans-serif;
    font-size: 400%;
    letter-spacing:0.4px;
    text-decoration: none;            
}

explore {
    display: block;
    text-align: center;
    color: white;
    font-family:'Raleway', sans-serif;
    font-size: 150%;
    letter-spacing:0.4px;
    text-decoration: none; 
}

hr { 
    display: block;
    margin-bottom: 2em;
    margin-left: 12em;
    margin-right: 12em;
    border-style: inset;
    border-width: 1px;
    color: white;
}

#phone_container {
   margin-top: 4em;
   float: right;
   display: block;
   width: 700px;
   height: 700px;
}

#phone_container img {
   width: 100%;
}




