
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-family:Tahoma, Geneva, sans-serif;
}
        
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}
    
li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgrey;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

home_logo {
     display: block;
     margin-top: 3em;
}

@font-face {
    font-family:uzer_custom_font;
    src:url("font/font.TTF");
}

logo {
    
    list-style-type: none;
    text-align: center;
    color: #333;
    font-family:uzer_custom_font;
    font-size: 1200%;
    letter-spacing:0.4px;
    text-decoration: none;            
}

nav_bar_logo {
    font-family:uzer_custom_font;
}

nav_bar_logo {
    font-family:uzer_custom_font;
}
