@import url('https://fonts.googleapis.com/css?family=PT+Sans');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    font-family: 'PT Sans', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


.nav_logo {
    float: left;
    font-family:uzer_custom_font;
}
   

body {
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) ), url("images/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

home_logo {
     display: block;

}

@font-face {
    font-family:uzer_custom_font;
    src:url("font/font.TTF");
}

logo {
    
    list-style-type: none;
    text-align: center;
    color: #333;
    font-family:uzer_custom_font;
    font-size: 1200%;
    letter-spacing:0.4px;
    text-decoration: none;            
}

